@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    font-size: 14px;
    -webkit-user-select: none;
}
.box{
    margin: 20px auto;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0 #008000;
}
.box thead{
    background: #008000;
    color: #ffffff;
}
.box thead tr{
    height: 35px;
}
.box thead tr th{
    width: 100px;
    text-align: center;
}
.box thead tr th.cursor{
    cursor: pointer;
}
.box tbody{
    width: 400px;
}
.box tbody tr{
    height: 35px;
}
.box tbody tr.bg{
    background: palegreen;
}
.box tbody tr td{
    width: 100px;
    text-align: center;
}
